:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --background-color: #ffffff;
  --second-backgraund-color: #2f303a;
  --btn-color: #f5f4fa;
  --address-color: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

.list {
  list-style: none;
}

/* --------------HEADER------------- */
.logo {
  color: var(--logo-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.logo-span {
  color: var(--accent-color);
}
.site-nav .link {
  color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.auth-nav .link {
  color: var(--second-text-color);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* --------------HERO------------- */
.hero-title {
  color: var(--third-text-color);
  background-color: var(--second-backgraund-color);
}

/* button */
.hero-btn,
.filter-btn {
  cursor: pointer;
}
.hero-btn {
  background-color: var(--accent-color);
  color: var(--third-text-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
  color: var(--third-text-color);
}

/* --------------SPECIFICS------------- */
.section .section-text {
  color: var(--second-text-color);
}

/* --------------WORK------------- */
.work-title {
}

/* --------------TEAM------------- */
.team {
  background-color: var(--btn-color);
}
.team-list .item {
  background-color: var(--background-color);
}
.team-list .text {
  color: var(--second-text-color);
}

/* --------------FOOTER------------- */
.footer {
  background-color: var(--second-backgraund-color);
}
.logo-footer {
  color: var(--third-text-color);
}
.street-item {
  color: var(--third-text-color);
}
.footer-list .link {
  color: var(--address-color);
}
.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--accent-color);
}

/* --------------PORTFOLIO.HTML------------- */

/* --------------WORK LIST------------- */
.filter-btn {
  background-color: var(--btn-color);
  color: var(--primary-text-color);
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--third-text-color);
}
.filter .filter-text {
  color: var(--second-text-color);
}
